.side-bar{
  width:400px;
  height:100vh;
  float:right;
  padding-right:10px;
  &__title{
    background-color: #333333;
    height: 60px;
    text-align: center;
    border-bottom: 3px solid #222222;
    border-radius: 0 .4em;
    margin-bottom: 25px;
    &--text{
      line-height: 2;
      font-size: 30px;
      color: #fff;
    }
  }
  &__category{
    padding-left: 10px;
    &--list{
      color: #3EBDFF;
      &--link{
        margin: 10px 0;
        border-bottom: 1px solid #eee;
        height: 50px;
        line-height: 2.5;
      a{
        color: #3EBDFF;
      }
    }
  }
  }
}