.new-post
  .new-post__heading
    %p.new-post__heading--text
      編集する
  .new-post__form
    = form_for @post do |f|
      .new-post__form__title
        =f.label :title,"タイトル",class:"new-post__form__title--label"
        =f.text_field :title,class:"new-post__form__title--input"
      .mew-post__form__place
        =f.label :place, "場所", class:"new-post__form__place--label"
        =f.text_field :place, class:"new-post__form__place--input"
      .new-post__form__category
        =f.label :place, "カテゴリーを選択", class:"new-post__form__category--label"
        =f.collection_select :category_id, Category.all, :id, :category, {prompt:"------"}, {class:"new-post__form__category--select"}
      = f.fields_for :category do |i|
        .new-post__form__new-category
          =f.label :place, "新しいカテゴリー", class:"new-post__form__new-category--label"
          =i.text_field :category, class:"new-post__form__new-category--input"
      .new-post__form__image
        =f.label :image, class:"new-post__form__image--label",for:"image_field" do
          画像
          .new-post__form__image--box
            -if @post.image.present?
              =image_tag @post.image,class:"photo_img"
        =f.file_field :image, class:"new-post__form__image--input",id:"image_field"
      .new-post__form__text
        =f.label :text, "内容", class:"new-post__form__text--label"
        =f.text_area :text, class:"new-post__form__text--input"
      .new-post__form__submit
        =f.submit "編集する",class:"new-post__form__submit--button"