!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" }}
    %title photo-diary
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    =render partial: "layouts/header"
    -if controller.controller_name== "posts" || controller.controller_name=="categories" 
      =render partial: "layouts/side-bar"
    = yield
    =render partial: "layouts/footer"